<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Room-Location" verbose="1" >
  <test name="5 test cases"   >
  <!--  <groups>
      <define name="include-group">
        <include name="unit" />
      </define>
      <run>
        <include name="include-group" />
      </run>
    </groups> -->
    <classes>
    <!--  -->
      <class name="automationFramework.OutOfOrderTest" /> 
      <class name="automationFramework.AddLocationTest" />
    <!--   <class name="automationFramework.AssociateResourceToRoom"/> -->
    </classes>
 </test>
</suite>
